
.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}
 /* @media (min-width: 768px) {
        #homeSection {
          background-image: url("../src/assets/homebgDesktop.png");
        }
      } */